body {
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  color: #20776e;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 25px;
  text-align: center;
}
ul {
  list-style-type: none;
}
footer {
  margin: 20px;
  text-align: center;
}
a {
  color: #30c5a5;
}
.container {
  background: linear-gradient(#f7f2d5, #f3e589);
  border: solid 1px #f2e179;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 60%;
}
.btn-outline-success {
  border-color: #30c5a5;
  color: #30c5a5;
  transition: all 200ms ease-in-out;
}
.btn-outline-success:hover {
  background-color: #30c5a5;
  border-color: #30c5a5;
}
.hereNowWeather {
  background-color: #30c5a5;
  border: 1px solid #30c5a5;
  border-radius: 30px;
  color: #ffffff;
  float: right;
  margin-right: 10px;
  padding: 7px 12px;
  transition: all 200ms ease-in-out;
}
.hereNowWeather:hover {
  background-color: transparent;
  color: #30c5a5;
}
.form-control {
  display: inline-block;
  margin-left: 10px;
  width: 100%;
}
.displayInfo {
  color: #30c5a5;
  font-size: 28px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 20px;
}
.temperatureUnit {
  color: #30c5a5;
  font-size: 20px;
}
.dateAndTime {
  color: #20776e;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  vertical-align: top;
}
.otherInfo {
  color: #20776e;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
}
.titleNextDays {
  color: #20776e;
  font-size: 28px;
  font-weight: 400;
  margin: 0px 0px 10px 10px;
}

.nextDays {
  color: #20776e;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 15px;
  text-align: center;
}
