body {
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  color: #0e49b5;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
footer {
  margin: 20px;
  text-align: center;
}
.container {
  background: linear-gradient(#dbedf3, #a5e9db);
  border: solid 2px #0e49b5;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 60%;
}
.citySearch {
  margin-top: 30px;
}
.btn-outline-success {
  border-color: #00b7c2;
  color: #00b7c2;
  transition: all 200ms ease-in-out;
}
.btn-outline-success:hover {
  background-color: #00b7c2;
  border-color: #00b7c2;
}
.hereNowWeather {
  background-color: #00b7c2;
  border: 1px solid #00b7c2;
  border-radius: 30px;
  color: #ffffff;
  padding: 7px 12px;
  transition: all 200ms ease-in-out;
}
.hereNowWeather:hover {
  background-color: transparent;
  color: #00b7c2;
}
.form-control {
  display: inline-block;
  width: 100%;
}
.displayInfo {
  color: #0e49b5;
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
}
.temperatureUnit {
  color: #0e49b5;
  font-size: 28px;
}
.currentIcon {
  color: #0e49b5;
}
.otherInfo {
  color: #0e49b5;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
}
.titleToday,
.titleNextDays {
  color: #00b7c2;
  font-size: 28px;
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 5px;
  margin-top: 20px;
}

.nextDays {
  color: #07689f;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
}
.icons {
  color: #00b7c2;
  font-size: 36px;
}
